.theme-dark {
  --background: #202c36;
  --title-background: #2b3844;
  --title-color: #ffffff;
  --card-color: #2b3844;
  --card-shadow: 2px 2px 5px black;
  --input-color: #2b3844;
  --text-color: #ffffff;
}

.theme-light {
  --background: #f2f2f2;
  --title-background: #ffffff;
  --title-color: #111517;
  --card-color: #ffffff;
  --card-shadow: 2px 2px 5px gray;
  --input-color: #ffffff;
  --text-color: #000000;
}

#toggle-theme {
  background-color: var(--background);
  height: 100vh;
  overflow: auto;
  color: var(--text-color);
}

#title {
  background-color: var(--title-background);
}

#title-text {
  color: var(--title-color);
}

#styled-card {
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
}

.ant-input-affix-wrapper,
.ant-input,
.ant-btn {
  color: var(--text-color);
  background-color: var(--input-color);
}

.card-text,
.country-info-text {
  color: var(--text-color);
}
